h1 {
  font-size: 20px;
}

.fundoVermelho {
  background-color: red;
}

#textoPrincipal {
  font-size: 40px;
  font-weight: bold;
  color: red;
  padding: 10px;
  background-color: #444;
  margin-bottom: 60px;
}

.negrito {
  font-weight: bold;
}